/**
 * @file
 * Main Grid.
 */
.wrapper{
  overflow: hidden;
  background:#000000 url("../homebg.jpg") top center no-repeat;
}

/* Mobile First */
#main {
  @include container(100%);

  #aside_left {
    display: none;
  }

  #content {
    @include span (12 of 12);
  }

  #aside_right {
    display: none;
  }
}


@include breakpoint($bp-tablet) {
  #main {
    @include container(100%);
  }
}


@include breakpoint($bp-desktop) {
  .highlighted{
    .region-highlighted{
      #block-homeemployerblock{
        @include span (4 at 7 of 12 isolate);
      }
      #block-homedeveloperblock{

        @include span (4 at 3 of 12 isolate);
      }
    }
  }
  #main {
    color:#ffffff;
    .container{
      @include container;
    }


    #aside_left {
    }

    #content {
//      @include span (9 of 12);
    }

    #aside_right {
      @include span (3 at 10 of 12);
      display: block;
    }
  }
  #footer{
    .container{
      @include container(100%);
    }
  }
}


@include breakpoint($bp-large) {
  #main {
    @include container(100%);
  }
}
