/**
 * @file
 * Responsive navigation.
 */


/* Mobile First */
//.container {
//  margin: 0px auto;
//  overflow: hidden;
//  max-width: 100%;
//  width: 100%;
//  position: relative;
//}


header {
  @include background-image(linear-gradient(#000, rgba(0,0,0,0)));;
  .navigation {
    @include transition(all .5s ease-out);

    ul {
      list-style: none;
      padding: 0;

      li {
        display: block;
        text-align: left;

        a {
          display: block;
        }
      }
    }

  }



}

#main-wrapper {
  position: relative;
  margin: 0 auto;
  float: left;
  margin-left: 0;
  width: 100%;

  .mobile-container {
    width: 100%;
    display: block;
  }
}

@media (max-width: 767px) {
  /* Theming opened nav */
  nav ul {

    /* maximum height */
    max-height: 25em;

    /* translate with hardware acceleration */
    transform: translateZ(0);
    transition: max-height .4s;
  }

  /* Theming closed nav */
  nav.is-closed ul {
    max-height: 0;
    overflow: hidden;
  }
  nav + * {
    position: relative;
  }
  nav ul {
    list-style: outside none none;
    margin: 0;
    max-height: 25em;
    padding: 0;
    transform: translateZ(0px);
    transition: max-height 0.4s ease 0s;
    will-change: max-height;
  }
  nav a {
    background: none repeat scroll 0 0 #ff9b39;
    color: #fff;
    display: block;
    margin-bottom: 2px;
    padding: 1.2rem;
    text-decoration: none;
  }
  nav a:hover, nav a:focus, nav a:active {
    background: none repeat scroll 0 0 #fff;
    color: #ff9b39;
  }
  nav.is-closed ul {
    max-height: 0;
    overflow: hidden;
  }
  nav > button {
    background-color: transparent;
    background-image: linear-gradient(to right, #ff9b39, #ff9b39), linear-gradient(to right, #ff9b39, #ff9b39), linear-gradient(to right, #ff9b39, #ff9b39);
    background-position: center top, center center, center bottom;
    background-repeat: no-repeat;
    background-size: 2.5rem 0.4rem;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 1.6rem;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: 0rem;
    top: 1rem;
    transition: all 0.2s ease 0s;
    width: 3.5rem;
    z-index: 1;
  }
  nav > button::-moz-focus-inner {
    border: 0 none;
  }
  nav:not(.is-closed) > button {
    background-position: center center, center center, center center;
    transform: rotate(180deg) translateZ(0px);
  }
  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }
}

@include breakpoint($bp-tablet) {
  header {
    @include transition(all .5s ease-out);
    .logo {
      @include span(3);
    }
    .region-primary-menu{
      @include span(9 last);
      nav{
        line-height: 100px;
        > ul {
          margin:  0;
          float: right;
        }

        ul {
          li {
            display: inline-block;
          }
        }
      }
    }

  }

  #main-wrapper {
    float: left;
    margin-left: 0;
    width: 100%;
    .mobile-container {
      display: none;
    }
  }
}


@include breakpoint($bp-desktop) {
  header {
    .navigation {
      line-height: 200px;
      > ul {
        @include transition(all .5s ease-out);
        margin: 100px 0;
      }
    }
  }

  #main-wrapper {

  }
}


@include breakpoint($bp-large) {

}
